**Reporte de analisis IV**

In [ ]:
import pandas as pd

In [3]:
datos = pd.read_csv('/home/kukre/Alura Aulas/Python_Data_Science/Pandas/data/alquiler_residencial.csv', sep = ';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
6,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
8,Departamento,Pachacámac,1,0,0,36,1200.0,NaN,NaN
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0

#**Selecciones solamente los inmuebles clasificados con tipo 'Departamentos'

In [7]:
seleccion = datos['Tipo'] == 'Departamento'
n1 = datos[seleccion].shape[0]
n1

19532

#**Seleccione los inmuebles clasificados con tipo 'Casa', 'Casa en condominio' y 'Casa de villa'

In [9]:
seleccion = (datos['Tipo'] == 'Casa') | (datos['Tipo'] == 'Casa en condominio') | (datos['Tipo'] == 'Casa de villa')
n2 = datos[seleccion].shape[0]
n2

2212

#**Seleccione los inmuebles clasificados con area entre 60 y 100 metros cuadrados, incluyendo los limites

In [10]:
seleccion = (datos['Area'] >= 60) & (datos['Area'] <= 100)
n3 = datos[seleccion].shape[0]
n3

8719

#**Seleccione los inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2000,00

In [12]:
seleccion = (datos['Cuartos'] >= 4) & (datos['Valor'] < 2000)
n4 = datos[seleccion].shape[0]
n4

41

In [17]:
print("Nº de inmuebles clasificados con el tipo 'Departamentos' -> {}".format(n1))
print("Nº de inmuebles clasificados con el tipo 'Casa', 'Casa en condominio' y 'Casa de villa' -> {}".format(n2))
print("Nº de inmuebles con el area entre 60 y 100 metros cuadrados, incluyendo los limites -> {}".format(n3))
print("Nº de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2000,00 -> {}".format(n4))

Nº de inmuebles clasificados con el tipo 'Departamentos' -> 19532
Nº de inmuebles clasificados con el tipo 'Casa', 'Casa en condominio' y 'Casa de villa' -> 2212
Nº de inmuebles con el area entre 60 y 100 metros cuadrados, incluyendo los limites -> 8719
Nº de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2000,00 -> 41